@using TotalPortal.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopup.cshtml";}

@model TotalPortal.Areas.Productions.ViewModels.BlendingInstructionViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("Id", @Model.BlendingInstructionID);

    if (Model.ViewDetails.Count > 0)
    {
        @Html.Hidden("DetailId", @Model.ViewDetails[0].BlendingInstructionDetailID);
        
        <div class="left-panel">
            <div style="padding: 16px;"> <img src="~/Content/Images/Mains/new-64.png" />  </div>
        </div>
        <div class="right-panel" style="padding-right:17px;">
            <div class=" form-group">
                @Html.LabelFor(model => model.ViewDetails[0].CommodityCode)
                <div class="div-input">
                    @Html.Kendo().MaskedTextBoxFor(model => model.ViewDetails[0].CommodityCode).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ViewDetails[0].Quantity)
                <div class="div-input">
                    @Html.Kendo().MaskedTextBoxFor(model => model.ViewDetails[0].Quantity).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                </div>
            </div>        

            <div class="form-group">
                @Html.LabelFor(model => model.ViewDetails[0].QuantityIssued)
                <div class="div-input">
                    @Html.Kendo().MaskedTextBoxFor(model => model.ViewDetails[0].QuantityIssued).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                </div>
            </div>

            <div class=" form-group">
                @Html.LabelFor(model => model.ViewDetails[0].Remarks)
                <div class="div-input">
                    @Html.Kendo().MaskedTextBox().Name("Remarks").Value(@Model.ViewDetails[0].Remarks).HtmlAttributes(new { @class = "left-panel-input" })
                </div>
            </div>

        </div>
        <div class="background-bar">
            <div class="popup-button-bar">
                <button type="submit" class="k-button"> <img src="~/Content/Images/New/save-32-m20.png" alt="" /> Lưu </button>
                <button type="button" class="k-button" onclick="window.parent.$('#myWindow').data('kendoWindow').close()"> <img src="~/Content/Images/Mains/Users-Exit-icon.png" alt="" /> Thoát </button>
            </div>
        </div>
    }
}
@Html.Partial("~/Views/Helpers/Bases/_BaseSubmit.cshtml")



<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    function cancelButton_Click() {
        window.parent.$("#myWindow").data("kendoWindow").close();
    }


</script>

<style>
    .left-panel {
        width: 13%;
    }

    .right-panel {
        width: 87%;
    }

    .left-panel-input {
        width: 100%;
    }
</style>