@using TotalPortal.Configuration

@model TotalDTO.Commons.ICommodityBaseDTO

@Html.HiddenFor(model => model.CommodityID)

@Html.Hidden("TempCode", (@Model != null ? @Model.Code : ""))


<div class="right-first-panel">
    <div class="form-group">
        <div class="right-panel-label right-panel-label-icon-only" style="padding-top: 2px;"> <img src="~/Content/Images/Mains/oil-tank.png" )" title="@(ViewData["CommodityDisplayCode"] != null ? ViewData["CommodityDisplayCode"] : "Tên mặt hàng")" />  </div>

        <div class="default-display-none">
            @Html.Label((ViewData["CommodityDisplayCode"] != null ? (ViewData["CommodityDisplayCode"]).ToString() : "Mặt hàng"))
        </div>

        @Html.Partial("~/Views/Shared/EditorTemplates/AutoCompletes/CommodityBasic.cshtml")
    </div>
</div>

@Html.Partial("~/Views/Helpers/Commons/_CommodityDescription.cshtml")