@model TotalDTO.Commons.ICommodityBaseDTO

@Html.HiddenFor(model => model.Name)

@{var modelFullHtmlFieldName = @Html.ViewData.TemplateInfo.GetFullHtmlFieldName("Name"); modelFullHtmlFieldName = modelFullHtmlFieldName.Substring(0, modelFullHtmlFieldName.IndexOf("."));  }

<div class="right-second-panel" style="@(ViewData["CommodityDescriptionHidden"] == "true" ? "display: none" : "")">
    <div class="form-group">
        <div style="float:left; padding-top: 4px; padding-right: 2px;">
            <img src="~/Content/Images/Mains/Oil-industry-24.png" title="Tên thành phẩm" />
        </div>
        <div class="right-panel-label right-panel-label-larger-width"> <span id="@(modelFullHtmlFieldName + "_label_Name")"> @Html.DisplayFor(a => a.Name) </span> </div>
    </div>
</div>