@using TotalPortal.Configuration

@model TotalPortal.Areas.Inventories.ViewModels.InventoryControlViewModel

<div>
    @Html.HiddenFor(m => m.CommodityID)
    @Html.HiddenFor(m => m.CommodityCode)

    @Html.Hidden("LastLabOptionID", "99")
    @Html.Hidden("LastFilterOptionID", "0")
    @Html.Hidden("LastPendingOptionID", "1")
    @Html.Hidden("LastShelfLife", "80")
    @Html.Hidden("SelectedFirmOrderID", "0")

    @(Html.Kendo().Grid<TotalModel.Models.InventoryControl>()
            .Name("kendoGridIndex")
            .Columns(columns =>
            {
                columns.Bound(p => p.CommodityID).DisplayNameTitle().Hidden();
                columns.Bound(p => p.CategoryName).Title("CAT").Hidden();
                columns.Bound(p => p.CommodityCode).Title("NVL").Hidden();
                columns.Bound(p => p.Features).Title("NVL").Hidden();

                columns.Group(gr => gr
                    .Title("Nguyên liệu").HeaderHtmlAttributes(new { style = "text-align:center" })
                    .Columns(g =>
                        {
                            g.Bound(p => p.Barcode).Title("BC,BI,PO,TO").Width(30).ClientTemplate("<a onclick='openData(#= PurchaseOrderID #, #= GoodsArrivalID #, #= GoodsReceiptID #, #= WarehouseTransferID #, #= WarehouseAdjustmentID #, #= BlendingInstructionID #)'><span class='index-nav-column'>#=(Barcode == null)? '' : Barcode#</span></a>");

                            g.Template(model => null).HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(3)
                                .ClientTemplate("# if (BarcodeID == null) { ## } else { #<a class='k-button' style='padding-left:0px; padding-right:0px;' href='" + Url.RouteUrl("Default", new { controller = "Home", action = "SearchBarcodes" }) + "/#= BarcodeID #' target='_blank'><span class='k-icon sbt-barcode'></span></a># } #");
                            
                            g.Bound(p => p.BatchCode).Title("Lô").Width(30);
                            g.Bound(p => p.LabCode).Title("Lab").Width(30).HtmlAttributes(new { @class = "index-nav-column" }).ClientTemplate("<a href='" + Url.RouteUrl("Default", new { controller = "Purchases/Labs", action = "Edit" }) + "/#= LabID #' target='_blank'>#=(LabCode == null)? '' : LabCode#</a>");
                            
                            g.Bound(p => p.BinLocationCode).Title("Vị trí").Width(18);
                            g.Bound(p => p.ExpiryDate).Title("HSD").Width(10).Format("{0:dd/MM/yy}").HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" });

                            g.Template(t => { }).Title("!").ClientTemplate("<input class='IsSelected' #= Approved ? '':checked='checked' #  type='checkbox' disabled='disabled'/>").HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(3);
                            g.Template(t => { }).Title("!P").ClientTemplate("<input class='IsSelected' #= LabApproved ? '':checked='checked' #  type='checkbox' disabled='disabled'/>").HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(3);
                            g.Template(t => { }).Title("H").ClientTemplate("<input class='IsSelected' #= LabHold ? checked='checked':'' #  type='checkbox' disabled='disabled'/>").HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(3);
                            g.Template(t => { }).Title("Q").ClientTemplate("<input class='IsSelected' #= LabInActive ? checked='checked':'' #  type='checkbox' disabled='disabled'/>").HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(3);
                        }
                    ));
                columns.Group(gr => gr
                    .Title("Tồn lệnh pha chế [BIS]").HeaderHtmlAttributes(new { style = "text-align:center" })
                    .Columns(g =>
                        {
                            g.Bound(p => p.BisQuantity).Title("SL Y/C").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(20).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                            g.Bound(p => p.BisQuantityIssued).Title("Đã xuất").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(20).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                            g.Bound(p => p.BisQuantityRemains).Title("Còn lại").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(20).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                        }
                    ));
                columns.Group(gr => gr
                    .Title("Tồn kho").HeaderHtmlAttributes(new { style = "text-align:center" })
                    .Columns(g =>
                        {
                            g.Bound(p => p.QuantityAvailableLocation2).Title("Kho PC").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(20).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                            g.Bound(p => p.QuantityAvailableLocation1).Title("Kho NVL").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(20).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                            g.Bound(p => p.QuantityAvailableArrivals).Title("Mới về").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(10).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                        }
                    ));
                columns.Group(gr => gr
                    .Title("Đặt").HeaderHtmlAttributes(new { style = "text-align:center" })
                    .Columns(g =>
                        {
                            g.Bound(p => p.QuantityPurchaseOrders).Title("hàng").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(10).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                            //g.Bound(p => p.QuantityTransferOrders).Title("VCNB").Format(Settings.kfmQuantity).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(5).ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                        }
                    ));

            })
            .ToolBar(toolbar =>
            {
                toolbar.Template(@<text>                    
                    <button type="button" class="k-button" onclick="callPrint(6)"> <img src="~/Content/Images/New/Printer-author-24.png" /> NXT </button>
                    <button type="button" class="k-button" onclick="callPrint(3)"> <img src="~/Content/Images/New/printer-D-24.png" /> Thẻ kho </button>
                    <button type="button" title="Cập nhật số liệu tồn kho" class="k-button" onclick="indexFilterText_KeyUp(true)"> <img src="~/Content/Images/New/Refresh-icon.png" /> </button>
                    <div class="toolbar" style="float: right;">
                        <label>Lọc dữ liệu </label>
                        <input id="indexFilterText" class="k-textbox" style="text-align: center; width: 188px; " onkeyup="indexFilterText_KeyUp()" />

                        <span id="filterExtended">
                            @(Html.Kendo().DropDownList()
                                    .Name("ShowSummaryOptionID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Value(@Model.SummaryOptionID.ToString("N0"))
                                    .HtmlAttributes(new { @style = "width: 120px; text-align: center; " })
                                    .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem { Text = "Theo lô", Value = "20"},
                                          new SelectListItem { Text = "Chi tiết", Value = "0"}
                                      })
                                    .Events(e => e.Change("indexFilterText_KeyUp"))
                            )
                            @(Html.Kendo().DropDownList()
                                    .Name("ShowPendingOptionID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @style = "width: 168px; text-align: center; " })
                                    .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem { Text = "W/o PO, TO và BIS", Value = "0"},
                                          new SelectListItem { Text = "Tất cả", Value = "1"}
                                      })
                                    .Events(e => e.Change("indexFilterText_KeyUp"))
                            )

                            @(Html.Kendo().DropDownList()
                                    .Name("ShowFilterOptionID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @style = "width: 120px; text-align: center; " })
                                    .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem { Text = "Tất cả", Value = "0"},
                                          new SelectListItem { Text = "Còn tồn BIS", Value = "10"},
                                          new SelectListItem { Text = "Sắp đến HSD", Value = "20"}
                                      })
                                    .Events(e => e.Change("indexFilterText_KeyUp"))
                            )

                            @(Html.Kendo().IntegerTextBox().Name("ShowShelfLife").Value(80).Enable(false).HtmlAttributes(new { @style = "width: 68px; text-align: center; " }).Events(e => e.Change("indexFilterText_KeyUp")))

                            @(Html.Kendo().DropDownList()
                                    .Name("ShowLabOptionID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @style = "width: 138px; text-align: center; " })
                                    .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem { Text = "Tất cả", Value = "99"},
                                          new SelectListItem { Text = "Đã kiểm định", Value = "1"},
                                          new SelectListItem { Text = "Chưa kiểm định", Value = "0"}
                                      })
                                    .Events(e => e.Change("indexFilterText_KeyUp"))
                            )

                            @(Html.Kendo().DropDownList()
                                    .Name("ShowLocationID")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Value(@Model.LocationID.ToString("N0"))
                                    .HtmlAttributes(new { @style = "width: 88px; text-align: center; " })
                                    .BindTo(new List<SelectListItem>()
                                      {
                                          new SelectListItem { Text = "Tất cả", Value = "0"},
                                          new SelectListItem { Text = "Kho NVL", Value = "1"},
                                          new SelectListItem { Text = "Kho PC", Value = "2"}
                                      })
                                    .Events(e => e.Change("indexFilterText_KeyUp"))
                            )
                        </span>


                        @*</div>*@



                    </div>
                </text>);
            })
            .Filterable(f => f.Enabled(false))
            .Pageable()
            //.Groupable(g => g.Messages(messages => messages.Empty("Phân nhóm dữ liệu: Kéo và thả tiêu đề một hoặc nhiều cột dữ liệu ngay bên dưới vào đây để phân nhóm hiển thị theo phân cấp của các cột dữ liệu")))
            .Selectable()
            .Sortable()
            .Events(e =>
            {
                e.DataBound("hightLightSelectedRow");
            })
            .AutoBind(@Model.CommodityID == null ? true : false)
            .DataSource(dataSource => dataSource
                .Ajax()
                .Group(group => group.Add(p => p.CategoryName)).Group(group => group.Add(p => p.Features))
                .Read(read => read.Action("GetInventoryControls", "InventoryControlAPIs", new { area = "Inventories" }).Data("onGetInventoryControls"))
                .Sort(sort => { sort.Add(p => p.CommodityCode); })
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(x => x.CommodityID);
                    model.Field(m => m.CommodityID).DefaultValue(0);
                })
                .ServerOperation(true)
                .Aggregates(a => a.Add(x => x.BisQuantity).Sum())
                .Aggregates(a => a.Add(x => x.BisQuantityIssued).Sum())
                .Aggregates(a => a.Add(x => x.BisQuantityRemains).Sum())
                .Aggregates(a => a.Add(x => x.QuantityAvailableLocation1).Sum())
                .Aggregates(a => a.Add(x => x.QuantityAvailableLocation2).Sum())
                .Aggregates(a => a.Add(x => x.QuantityAvailableArrivals).Sum())
                .Aggregates(a => a.Add(x => x.QuantityPurchaseOrders).Sum())
                .Aggregates(a => a.Add(x => x.QuantityTransferOrders).Sum())
                )
            .HtmlAttributes(new { @class = "grid-class" }))
</div>



<script type="text/javascript">
    $(document).ready(function () {
        if ($("#CommodityID").val() != "") {
            $("#indexFilterText").val($("#CommodityCode").val())
            indexFilterText_KeyUp(true);
        }
    });

    function onGetInventoryControls(e) {
        var indexFilterText = $("#indexFilterText").val();
        return {
            locationID: $("#ShowLocationID").val(),
            summaryOptionID: $("#ShowSummaryOptionID").val(),
            labOptionID: $("#ShowLabOptionID").val(),
            filterOptionID: $("#ShowFilterOptionID").val(),
            pendingOptionID: $("#ShowPendingOptionID").val(),
            shelfLife: $("#ShowShelfLife").val()
        };
    }

    function hightLightSelectedRow(e) {
        require(["kindexGrid"], function (kindexGrid) {
            var kindexGridInstance = new kindexGrid("kendoGridIndex");
            kindexGridInstance.setSelectedRow("InventoryControlID", '@ViewBag.SelectedEntityID');
        });
    }


    function openData(purchaseOrderID, goodsArrivalID, goodsReceiptID, warehouseTransferID, warehouseAdjustmentID, blendingInstructionID) {        
        if (purchaseOrderID != null)
            window.open('@Url.Action("Edit", "PurchaseOrders", new { area = "Purchases" })' + "/" + purchaseOrderID)
        else {
            if (goodsArrivalID != null)
                window.open('@Url.Action("Edit", "MaterialArrivals", new { area = "Purchases" })' + "/" + goodsArrivalID)
            else {
                if (goodsReceiptID != null)
                    window.open('@Url.Action("Edit", "MaterialReceipts", new { area = "Inventories" })' + "/" + goodsReceiptID)
                else {
                    if (warehouseTransferID != null)
                        window.open('@Url.Action("Edit", "MaterialTransfers", new { area = "Inventories" })' + "/" + warehouseTransferID)
                    else {
                        if (warehouseAdjustmentID != null)
                            window.open('@Url.Action("Edit", "MaterialAdjustments", new { area = "Inventories" })' + "/" + warehouseAdjustmentID)
                        else {
                            if (blendingInstructionID != null)
                                window.open('@Url.Action("Edit", "BlendingInstructions", new { area = "Productions" })' + "/" + blendingInstructionID)
                        }
                    }

                }
            }
        }
    }

    function createWizard() {
        require(["kpopupWindow"], function (kpopupWindow) {
            var createWizardWindow = new kpopupWindow();
            createWizardWindow.openWindow($("#popupWindow"), "@Url.Action("CreateWizard", "InventoryControls")", "Lập đơn hàng sản xuất", "@Settings.PopupWidth", "@Settings.PopupHeightWithTab");
        });
    }

    function createMaterialIssue(firmOrderID) {
        $("#SelectedFirmOrderID").val(firmOrderID);
        require(["kpopupWindow"], function (kpopupWindow) {
            var createWizardWindow = new kpopupWindow();
            createWizardWindow.openWindow($("#popupWindow"), "@Url.Action("CreateWizard", "MaterialIssues", new { area = "Inventories" })", "Chọn lệnh sản xuất", "@Settings.PopupWidth", "@Settings.PopupHeight");
        });
    }

    function callPrint(reportGroupID) {
        var reportID = reportGroupID == 6 ? ($("#ShowLocationID").val() == 1 ? 800007 : 800010) : ($("#ShowLocationID").val() == 1 ? 800001 : 800006);
        window.open('@Url.Action("Viewer", "Reports", new { area = "Analysis" })' + "/" + reportID)
    }

    decoratingKindex = function (idx, elem) {

        if (elem.Approved == null || elem.Approved == false) {
            $('tr[data-uid="' + elem.uid + '"]').addClass("NotApproved");
        }
        else {
            if (elem.InActive != null && elem.InActive == true) {
                $('tr[data-uid="' + elem.uid + '"]').addClass("isBonus");
            }

            if (elem.InActivePartial != null && elem.InActivePartial == true) {
                $('tr[data-uid="' + elem.uid + '"]').addClass("isBonus1");
            }
        }
    }






    function indexFilterText_KeyUp(readDataSource) {
        var indexFilterText = $("#indexFilterText").val(), gridDetails = $("#kendoGridIndex").data("kendoGrid");

        if (readDataSource == true || (indexFilterText === "" || indexFilterText.length >= "@Settings.AutoCompleteMinLenght03") || $("#LastLabOptionID").val() != $("#ShowLabOptionID").val() || $("#LastFilterOptionID").val() != $("#ShowFilterOptionID").val() || $("#LastPendingOptionID").val() != $("#ShowPendingOptionID").val() || $("#LastShelfLife").val() != $("#ShowShelfLife").val()) {

            if ($("#LastFilterOptionID").val() != $("#ShowFilterOptionID").val()) { $("#ShowShelfLife").data("kendoNumericTextBox").enable($("#ShowFilterOptionID").val() == 20 ? true : false); }

            $("#LastLabOptionID").val($("#ShowLabOptionID").val());
            $("#LastFilterOptionID").val($("#ShowFilterOptionID").val());
            $("#LastPendingOptionID").val($("#ShowPendingOptionID").val());
            $("#LastShelfLife").val($("#ShowShelfLife").val());

            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "CommodityCode", operator: "contains", value: indexFilterText },
                    { field: "BatchCode", operator: "contains", value: indexFilterText },
                    { field: "LabCode", operator: "contains", value: indexFilterText },
                    { field: "Barcode", operator: "contains", value: indexFilterText },
                    { field: "BinLocationCode", operator: "contains", value: indexFilterText }
                ]
            });


        } else {
            if (indexFilterText && indexFilterText.length && gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

</script>