@using TotalBase.Enums;
@using TotalPortal.Configuration

@using TotalDTO;
@using TotalModel
@using TotalDTO.Inventories
@using TotalPortal.Areas.Inventories.ViewModels

@model IMaterialIssueViewModel

<div id="popupWindow"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MainForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")
    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTopB.cshtml")

    @Html.Hidden("WarehouseTaskID", (int)@ViewBag.WarehouseTaskID);
    @Html.Hidden("WarehouseTaskIDList", (string)@ViewBag.WarehouseTaskIDList);

    @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).MaterialIssueID)
    @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).MaterialIssueTypeID)

    <div class="left-panel">

        @Html.Partial("~/Views/Helpers/Bases/_BaseSectionLeftA.cshtml")

        @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).ProductionOrderID)
        @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).ProductionOrderDetailID)

        @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).PlannedOrderID)
        @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderID)
        @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).WorkOrderID)

        @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).BomID)

        @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/Shift.cshtml")

        <div class="SBT-Hidden">
            @Html.EditorFor(d => (d as IMaterialIssueDTO).Warehouse, new { WarehouseDisplayName = @Model.Warehouse.GetDisplayName(m => m.WarehouseID) })
        </div>

        <div class="form-group">
            @Html.EditorFor(d => (d as IMaterialIssueDTO).ProductionLine)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).Code)
            <div class="div-input">
                @Html.Kendo().MaskedTextBoxFor(model => (model as IMaterialIssuePrimitiveDTO).Code).HtmlAttributes(new { @class = "left-panel-input" })
            </div>
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.EditorFor(d => (d as IMaterialIssueDTO).CrucialWorker, new { EmployeeDisplayName = @Model.CrucialWorker.GetDisplayName(m => m.EmployeeID) })
        </div>
        <div class="form-group">
            @Html.EditorFor(d => (d as IMaterialIssueDTO).Storekeeper, new { EmployeeDisplayName = @Model.Storekeeper.GetDisplayName(m => m.EmployeeID) })
        </div>

        @if (Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders)
        {
            <div @{if (!Model.IsMaterial) { <text> class="SBT-Hidden" </text>     }}>
                <div class="form-group">
                    @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).WorkOrderEntryDate)
                    <div class="div-input">
                        @Html.Kendo().DateTimePickerFor(model => (model as IMaterialIssuePrimitiveDTO).WorkOrderEntryDate).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).WorkOrderEntryDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="SBT-Hidden">
                <div class="form-group">
                    @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderReference)
                    <div class="div-input">
                        @Html.Kendo().MaskedTextBoxFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderReference).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderReference, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderCode)
                    <div class="div-input">
                        @Html.Kendo().MaskedTextBoxFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderCode).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderEntryDate)
                    <div class="div-input">
                        @Html.Kendo().DateTimePickerFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderEntryDate).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderEntryDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }


    </div>

    <div class="right-panel">

        <div class="right-top-panel right-top-panel-H4">

            @Html.EditorFor(d => (d as IMaterialIssueDTO).Customer, new { CustomerDescriptionHidden = "true", CustomerDisplayName = @Model.Customer.GetDisplayName(m => m.CustomerID), CustomerIcon = "Customer Red 24.png", NullCustomer = (Model.CustomerID > 0 ? null : "Lệnh sản xuất tổng hợp của nhiều khách hàng"), CustomerInfo = (Model.CustomerID > 0 ? null : "#") })

            <div class="right-first-panel">
                <div class="form-group">
                    <div class="right-panel-label">
                        @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderDescription)
                    </div>
                    <div class="div-input">
                        @Html.Kendo().MaskedTextBoxFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderDescription).HtmlAttributes(new { @class = "right-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderSpecs)
            @Html.HiddenFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderSpecification)
            <div class="right-first-panel">
                <div class="form-group">
                    <div class="right-panel-label">
                        @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderSpecificationSpecs)
                    </div>
                    <div class="div-input">
                        @Html.Kendo().MaskedTextBoxFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderSpecificationSpecs).HtmlAttributes(new { @class = "right-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).FirmOrderSpecificationSpecs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div @{if (!Model.IsMaterial) { <text> class="SBT-Nonvisibility" </text>      }}>
                <div class="right-second-panel">
                    <div class="form-group">
                        <div class="right-panel-label">
                            @Html.LabelFor(model => (model as IMaterialIssuePrimitiveDTO).QuantityMaterialEstimated)
                        </div>
                        <div class="div-input">
                            @Html.Kendo().NumericTextBoxFor(model => (model as IMaterialIssuePrimitiveDTO).QuantityMaterialEstimated).HtmlAttributes(new { @class = "right-panel-input only-here", @readonly = "readonly" })
                        </div>
                        <div class="div-validation-message">
                            @Html.ValidationMessageFor(model => (model as IMaterialIssuePrimitiveDTO).QuantityMaterialEstimated, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="show-current-PriceCategory" style="float: right; margin-top: -120px; text-align: center; width: 110px; height: 110px; " title="Kho hàng">
                <div style="height: 90px; padding-left: 22px; padding-right: 22px; padding-top: 32px;">
                    <span style="color:blue;" id="label_WarehouseCode"> @Html.Label(@Model.Warehouse.Code) </span>
                </div>
            </div>
        </div>


        <div class="div-k-grid-detail">
            @(Html.Kendo().Grid(Model.MaterialIssueViewDetails)
                .Name("kendoGridDetails")
                .Columns(columns =>
                {

                    columns.Bound(p => p.MaterialIssueDetailID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= MaterialIssueDetailID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].MaterialIssueDetailID' value='#= MaterialIssueDetailID #' />");
                    columns.Bound(p => p.MaterialIssueID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= MaterialIssueID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].MaterialIssueID' value='#= MaterialIssueID #' />");


                    columns.Bound(p => p.WorkOrderDetailID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (WorkOrderDetailID == null)? '' : WorkOrderDetailID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].WorkOrderDetailID' value='#= (WorkOrderDetailID == null) ? '' : WorkOrderDetailID #' />");
                    columns.Bound(p => p.FirmOrderMaterialID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (FirmOrderMaterialID == null)? '' : FirmOrderMaterialID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].FirmOrderMaterialID' value='#= (FirmOrderMaterialID == null) ? '' : FirmOrderMaterialID #' />");

                    columns.Bound(p => p.BomID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (BomID == null)? '' : BomID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].BomID' value='#= (BomID == null) ? '' : BomID #' />");
                    columns.Bound(p => p.BomDetailID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (BomDetailID == null)? '' : BomDetailID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].BomDetailID' value='#= (BomDetailID == null) ? '' : BomDetailID #' />");
                    columns.Bound(p => p.LayerCode).DisplayNameTitle().Width(20).Hidden(GlobalEnums.CBPP || @Model.IsItem).HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" })
                        .ClientTemplate("#= (LayerCode == null)? '' : LayerCode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].LayerCode' value='#= (LayerCode == null) ? '' : LayerCode #' />");

                    columns.Bound(p => p.CommodityID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= CommodityID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].CommodityID' value='#= CommodityID #' />");
                    columns.Bound(p => p.CommodityCode).DisplayNameTitle().Width(200).EditorTemplateName(Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders ? "StringReadonly" : "AutoCompletes/CommodityAvailable")
                        .ClientTemplate("#= CommodityCode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].CommodityCode' value='#= CommodityCode #' />")
                        .ClientFooterTemplate("TC (#= kendo.format('{0:n0}', count) # dòng)");
                    columns.Bound(p => p.CommodityName).DisplayNameTitle().Width(280).HtmlAttributes(new { style = "" })
                        .ClientTemplate("#= CommodityName #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].CommodityName' value='#= CommodityName #' />");

                    columns.Bound(p => p.CommodityTypeID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= CommodityTypeID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].CommodityTypeID' value='#= CommodityTypeID #' />");



                    columns.Bound(p => p.GoodsReceiptID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (GoodsReceiptID == null)? '' : GoodsReceiptID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].GoodsReceiptID' value='#= (GoodsReceiptID == null) ? '' : GoodsReceiptID #' />");
                    columns.Bound(p => p.GoodsReceiptDetailID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (GoodsReceiptDetailID == null)? '' : GoodsReceiptDetailID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].GoodsReceiptDetailID' value='#= (GoodsReceiptDetailID == null) ? '' : GoodsReceiptDetailID #' />");

                    columns.Bound(p => p.GoodsReceiptCode).DisplayNameTitle().Width(60).Hidden()
                        .ClientTemplate("#= (GoodsReceiptCode == null)? '' : GoodsReceiptCode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].GoodsReceiptCode' value='#= (GoodsReceiptCode == null) ? '' : GoodsReceiptCode #' />");
                    columns.Bound(p => p.GoodsReceiptReference).DisplayNameTitle().Width(60)//.Hidden(Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders && @Model.PlannedOrderID == null ? false : true)
                        .ClientTemplate("#= (GoodsReceiptReference == null)? '' : GoodsReceiptReference #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].GoodsReceiptReference' value='#= (GoodsReceiptReference == null) ? '' : GoodsReceiptReference #' />");
                    columns.Bound(p => p.GoodsReceiptEntryDate).DisplayNameTitle().Width(80)//.Hidden(Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders && @Model.PlannedOrderID == null ? false : true)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (GoodsReceiptEntryDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', GoodsReceiptEntryDate) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].GoodsReceiptEntryDate' value='#= (GoodsReceiptEntryDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', GoodsReceiptEntryDate) #' />");

                    columns.Bound(p => p.LabID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= LabID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].LabID' value='#= LabID #' />");

                    columns.Bound(p => p.BatchID).DisplayNameTitle().Filterable(false).Hidden()
                        .ClientTemplate("#= BatchID #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].BatchID' value='#= BatchID #' />");
                    columns.Bound(p => p.BatchEntryDate).DisplayNameTitle().Filterable(false).Width(80)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (BatchEntryDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', BatchEntryDate) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].BatchEntryDate' value='#= (BatchEntryDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', BatchEntryDate) #' />");
                    columns.Bound(p => p.BatchCode).DisplayNameTitle().Width(20).Hidden(!GlobalEnums.CBPP)
                        .ClientTemplate("#= (BatchCode == null)? '' : BatchCode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].BatchCode' value='#= (BatchCode == null) ? '' : BatchCode #' />");

                    columns.Bound(p => p.Barcode).DisplayNameTitle().Width(20).Hidden(!GlobalEnums.CBPP)
                        .ClientTemplate("#= (Barcode == null)? '' : Barcode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].Barcode' value='#= (Barcode == null) ? '' : Barcode #' />");
                    columns.Bound(p => p.SealCode).DisplayNameTitle().Width(20).Hidden(!GlobalEnums.CBPP)
                        .ClientTemplate("#= (SealCode == null)? '' : SealCode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].SealCode' value='#= (SealCode == null) ? '' : SealCode #' />");
                    columns.Bound(p => p.LabCode).DisplayNameTitle().Width(20).Hidden(!GlobalEnums.CBPP)
                        .ClientTemplate("#= (LabCode == null)? '' : LabCode #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].LabCode' value='#= (LabCode == null) ? '' : LabCode #' />");

                    columns.Bound(p => p.ProductionDate).DisplayNameTitle().Width(80).Hidden(true)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (ProductionDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ProductionDate) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].ProductionDate' value='#= (ProductionDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ProductionDate) #' />");
                    columns.Bound(p => p.ExpiryDate).DisplayNameTitle().Width(80).Hidden(true)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (ExpiryDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ExpiryDate) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].ExpiryDate' value='#= (ExpiryDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ExpiryDate) #' />");

                    columns.Bound(p => p.WorkOrderRemains).DisplayNameTitle().Width(50).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Hidden(Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders ? false : true)
                        .Format(Settings.kfmQuantity)
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', WorkOrderRemains) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].WorkOrderRemains' value='#= WorkOrderRemains #' />");

                    columns.Bound(p => p.QuantityAvailables).DisplayNameTitle().Width(50).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Hidden(Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders ? false : true)
                        .Format(Settings.kfmQuantity)
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', QuantityAvailables) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].QuantityAvailables' value='#= QuantityAvailables #' />");

                    columns.Bound(p => p.QuantityRemains).DisplayNameTitle().Width(50).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Hidden(true)
                        .Format(Settings.kfmQuantity)
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', QuantityRemains) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].QuantityRemains' value='#= QuantityRemains #' />");

                    columns.Bound(p => p.Quantity).DisplayNameTitle().HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(50)
                        .Format(Settings.kfmQuantity)
                        .ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #")
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', Quantity) #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].Quantity' value='#= Quantity #' />");



                    columns.Bound(p => p.Remarks).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (Remarks == null)? '' : Remarks #" + "<input type='hidden' name='MaterialIssueViewDetails[#= index(data) #].Remarks' value='#= (Remarks == null) ? '' : Remarks #' />");


                    columns.Command(command => { command.Destroy().Text("<span class='command' ></span>"); }).Width(50).Hidden(!@Model.Editable).HtmlAttributes(new { @class = "grid-column-center" });

                    columns.Template(model => null).HtmlAttributes(new { @class = "grid-column-center" }).Width(50).Hidden(!@Model.Voidable && !@Model.UnVoidable)
                        .ClientTemplate("<a class='k-button' style='padding-left:0px; padding-right:0px' onclick='callVoidDetail(#= MaterialIssueDetailID #)'><span class='k-icon sbt-void'></span></a>");
                })
                    .Filterable(f => f.Enabled(false))
                    .Navigatable()

                    .ToolBar(toolbar =>
                    {
                        if (Model.Editable)
                        {
                            if (Model.MaterialIssueTypeID == (int)GlobalEnums.MaterialIssueTypeID.FirmOrders)
                                toolbar.Template(@<text>
                                    <button type="button" class="k-button" onclick="GetPendingFirmOrderMaterials()"> <img src="~/Content/Images/Mains/Size24/Actions-bookmark-add-icon-24.png" /> Xuất từ tồn kho </button>
                                    @*<button type="button" class="k-button" onclick="copyRemainsToQuantity()"> <img src="~/Content/Images/Mains/Size24/Borderlands-Select-icon-24.png" /> Xuất nguyên cuộn </button>*@
                                </text>);
                            else
                                toolbar.Template(@<text>
                                <button type="button" class="k-button" onclick="$('#kendoGridDetails').data('kendoGrid').addRow()"> <img src="~/Content/Images/Mains/Size24/Actions-bookmark-add-icon-24.png" /> Thêm mặt hàng </button>
                                </text>);
                        }
                        else
                        {
                            toolbar.Template(@<text> @Commons.Toolbars.BlankToolbar() </text>);
                        }
                    })

                    .Editable(editable => { editable.Enabled(Model.Editable); editable.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(true).CreateAt(GridInsertRowPosition.Bottom); })
                    .Selectable(settings =>
                    {
                        settings.Mode(GridSelectionMode.Multiple);
                        settings.Type(GridSelectionType.Row);
                    })
                    .Events(events =>
                    {
                        events.DataBound(@<text>
                            function(e) {

                            var grid = $("#kendoGridDetails").data("kendoGrid");
                            var data = grid.dataSource.data();
                            $.each(data, function (i, row) {
                            var isWarrantyClaim = row.VoidTypeName;
                            if (isWarrantyClaim != null && isWarrantyClaim != '') {
                            $('tr[data-uid="' + row.uid + '"]').addClass("isBonus");
                            }
                            });
                            }
                        </text>);
                    }).DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .ServerOperation(false)
                                            .Model(model =>
                                            {
                                                model.Id(x => x.MaterialIssueDetailID);
                                                model.Field(m => m.MaterialIssueDetailID).DefaultValue(0);
                                                model.Field(m => m.MaterialIssueID).DefaultValue(@Model.MaterialIssueID);
                                            })
                                            .Events(events =>
                                            {
                                                events.Error("kendGrid_ErrorHandler");
                                            })
                                            .Aggregates(a => a.Add(x => x.CommodityCode).Count())
                                            .Aggregates(a => a.Add(x => x.WorkOrderRemains).Sum())
                                            .Aggregates(a => a.Add(x => x.QuantityAvailables).Sum())
                                            .Aggregates(a => a.Add(x => x.QuantityRemains).Sum())
                                            .Aggregates(a => a.Add(x => x.Quantity).Sum())
                                        )
            )
        </div>

        <div class="div-k-panel">
            @(Html.Kendo().PanelBar()
                .Name("IntroPanelBar")
                .Items(items =>
                {
                    items.Add()
                        .Text("Thông tin khác")
                        .Selected(true)
                        .Expanded(false)
                        .Content(@<text>
                            <div class="right-first-panel">
                                <div class="form-group">
                                    @Html.LabelFor(model => (model as IBaseDTO).Description, new { @class = "right-panel-label" })
                                    <div class="div-input">
                                        @Html.Kendo().MaskedTextBoxFor(model => (model as IBaseDTO).Description).HtmlAttributes(new { @class = "right-panel-input" })
                                    </div>
                                    <div class="div-validation-message">
                                        @Html.ValidationMessageFor(model => (model as IBaseDTO).Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => (model as IBaseModel).Remarks, new { @class = "right-panel-label" })
                                    <div class="div-input">
                                        @Html.Kendo().MaskedTextBoxFor(model => (model as IBaseModel).Remarks).HtmlAttributes(new { @class = "right-panel-input" })
                                    </div>
                                    <div class="div-validation-message">
                                        @Html.ValidationMessageFor(model => (model as IBaseModel).Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="right-second-panel">
                                @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/PreparedPerson.cshtml")
                                @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/Approver.cshtml")
                            </div>

                        </text>).HtmlAttributes(new { @class = "panel-class" });
                })
            )
        </div>




        <div class="right-botton-panel">
            @if (Model.Editable)
            {
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", Model.ControllerName)" onclick="$('#Approved').val(false);"> <img src="~/Content/Images/New/save-32-m20.png" /> Lưu </button>
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", Model.ControllerName)" onclick="$('#Approved').val(true);"> <img src="~/Content/Images/New/Save-Verify-32.png" /> Lưu và duyệt </button>
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", Model.ControllerName)" onclick="$('#Approved').val(true); $('#PrintAfterClosedSubmit').val(true);"> <img src="~/Content/Images/New/Print-Gray-32.png" /> Lưu, duyệt và in </button>
            }
            else
            {
                if (Model.Approved && !Model.Approvable && !Model.UnApprovable)
                {
                    <button type="button" class="k-button custom-button" onclick="location.href='@Url.Action("Approve", Model.ControllerName, new {id = @Model.MaterialIssueID })'"> <img src="~/Content/Images/Mains/cloud-32-NoCheck.png" /> @Model.UnApproveWarning </button>
                }
            }

            @if (Model.MaterialIssueID > 0)
            {
                <button type="button" class="k-button custom-button" onclick="location.href='@Url.Action("Print", Model.ControllerName, new { id = @Model.MaterialIssueID })'"> <img src="~/Content/Images/New/printer-cashier-32.png" /> In </button>
            }
        </div>

        @Html.Partial("~/Views/Helpers/Bases/_BaseSubmit.cshtml")
        <div style="height:68px;"></div>
        @if (@Model.IsItem)
        {@Html.Partial("~/Views/Helpers/Commons/_PlannedOrderLogs.cshtml")}
    </div>
}


<script src="@Url.Content("~/Scripts/Helpers/KendoGrid/gridHelper.js")"></script>

<script type="text/javascript">
    function GetPendingFirmOrderMaterials() {
        require(["kpopupWindow"], function (kpopupWindow) {
            var createWizardWindow = new kpopupWindow();
            createWizardWindow.openWindow($("#popupWindow"), "@Url.Action("GetPendingFirmOrderMaterials", Model.ControllerName, new { area = "Inventories" })", "Xuất kho", "@Settings.PopupWidthLarge", "@Settings.PopupHeightWithTab");
        });
    }

    function callVoidDetail(materialIssueDetailID) {
        require(["kpopupWindow"], function (kpopupWindow) {
            var voidDetailWindow = new kpopupWindow();
            voidDetailWindow.openWindow($("#popupWindow"), "@Url.Action("VoidDetail", Model.ControllerName)" + "/" + $("#MaterialIssueID").val() + "/" + materialIssueDetailID, "Hủy/ phục hồi một phần phiếu xuất", @Settings.PopupWidthVoid,  @Settings.PopupHeightVoid);
        });
    }
</script>

<style>
    .only-here {
        width: 39%;
    }
</style>